.idea/
build/
nesy_diag_bench.egg-info/
UCRArchive_2018/
__pycache__/
session_files/
low_inst_leg/
exp_instance_sets/
exp_solutions/
analysis/fault_path_analysis/129_30_10_50_50_95_99_42/
analysis/fault_path_analysis/129_40_5_50_10_90_95_42/
